*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
}

@font-face {
    font-family: art-deco;
    src: url(/RocketeersIkiikocom-Rp8jV.otf)
}

h1, h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: art-deco;
    text-align: center;
}